body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #F5CBF0;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 20px;
  padding-bottom: 25px;
}

.navbar-brand h1 { /* Name */
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #47C9EB;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;

}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: white;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #092470;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -42px;
}
/* END HEADER */
h1 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 175%;
  color: black;
}

div#container {
  border: 1px solid black;
  margin-bottom: 15px;
  background-color: black;
  position: relative;
  width: 95%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.position {
  margin: 10px;
  padding: 15px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 175%;
  color: orange;
}

section {
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: black
}